<%= form_with(model: translation, local: true) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :arabic_translation %>
    <%= form.text_field :arabic_translation %>
  </div>

  <div class="field">
    <%= form.label :english_translation %>
    <%= form.text_field :english_translation %>
  </div>

  <div class="field">
    <%= form.label :controller %>
    <%= form.text_field :controller %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
