<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1 style= "padding-left: 15px;">Translations</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Text</th>
      <th>Arabic translation</th>
      <th>English translation</th>
      <th>Controller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.text %></td>
        <td><%= translation.arabic_translation %></td>
        <td><%= translation.english_translation %></td>
        <td><%= translation.controller %></td>
        <td><%= link_to 'Show', translation %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
        <!-- <td><%# link_to 'Destroy', translation, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5 style= "padding-left: 15px;"><%= link_to 'New Translation', new_translation_path %><h5>
<%= @ff%>
</body>
