<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @translation.text %>
</p>

<p>
  <strong>Arabic translation:</strong>
  <%= @translation.arabic_translation %>
</p>

<p>
  <strong>English translation:</strong>
  <%= @translation.english_translation %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @translation.controller %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
