<h1>Editing English Translations</h1>

<%= form_with(model: @translations_en, local: true) do |form| %>
    <% if @translations_en.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(translations_en.errors.count, "error") %> prohibited this translations_en from being saved:</h2>
  
        <ul>
        <% @translations_en.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :text %>
      <%= form.text_field :text , readonly: true %>
    </div>
  
    <div class="field">
      <%= form.label :translation %>
      <%= form.text_field :translation %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Show', @translations_en %> |
<%= link_to 'Back', translations_ens_path %>
