<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1 style= "padding-left: 15px;"> English Translations</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Text</th>
      <th> English Translation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations_ens.each do |translations_en| %>
      <tr>
        <td><%= translations_en.text %></td>
        <td><%= translations_en.translation %></td>
        <td><%= link_to 'Show', translations_en %></td>
        <td><%= link_to 'Edit', edit_translations_en_path(translations_en) %></td>
        <!-- <td><%# link_to 'Destroy', translations_en, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5 style= "padding-left: 15px;"><%= link_to 'New English Translations', new_translations_en_path %></h5>
</body>