<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @translations_en.text %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @translations_en.translation %>
</p>

<%= link_to 'Edit', edit_translations_en_path(@translations_en) %> |
<%= link_to 'Back', translations_ens_path %>
