<%= form_with(model: translations_ar, local: true) do |form| %>
  <% if translations_ar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translations_ar.errors.count, "error") %> prohibited this translations_ar from being saved:</h2>

      <ul>
      <% translations_ar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :translation %>
    <%= form.text_field :translation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
