<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @translations_ar.text %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @translations_ar.translation %>
</p>

<%= link_to 'Edit', edit_translations_ar_path(@translations_ar) %> |
<%= link_to 'Back', translations_ars_path %>
