<%# @data_en['ar']['user']['khaled'] %>
<h1><%= t('user.welcome') %></h1>
<h1><%= t('user.egypt') %></h1>
<h3><%= t('user.payers') %></h3>
<h2><%= t('user.ahmed') %></h2>
<h2><%= t('user.khaled') %></h2>

<h4><%= link_to 'Translations', translations_path %></h4>

<%# link_to "English", :controller => 'pages', :action => 'change_locale', :id => 'en' %>

<% if I18n.locale.to_s == "ar" %>

    <a href="/change_locale?locale=en"><i></i> English</a>

    <% else %>
    <a href="/change_locale?locale=ar"><i></i> عربي</a>

<% end %>